<% flat = data.flats[owner] %>


<div class="banner banner-sm" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url(<%=  image_path "https://kitt.lewagon.com/placeholder/cities/#{flat.city_slug}" %>)">


 </div>
<!-- Inject flat data in template -->
<div class="container">
  <div class="row">
    <div class="flex-box">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="profile">
          <div class="owner">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
            <p><%= owner %></p>
          </div>
          <div class="description text-left">
            <h1><%= flat.description %></h1>
            <p><%= flat.city_name %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        Something
      </div>
    </div>
  </div>
</div>
